TOKEN=<bot token>
API_URL=<API URL where '{search_field}' will be replaced with search value>
PERSISTENCE_FILE=<path to file handling persistence, by default "persistence" file in current directory will be used>